# URL вашего Django бэкенда
DJANGO_API_URL=http://127.0.0.1:8000

# Секретный токен для доступа к внутреннему API Django
# Этот токен должен совпадать со значением NODE_BOT_WORKER_TOKEN в settings.py
BOT_WORKER_TOKEN=YOUR_SECRET_TOKEN_HERE

# Название этого бота (должно совпадать с полем 'name' в модели Bot)
BOT_NAME=cross_arbitrage 